@import '../../globalVariables';

#services {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;

    #development{
        background-color: $primary_color;
        width: 100%;
        color: white;
        text-align: center;

        #development-article {
            display: flex;
            flex-direction: column;
            margin-top: 20vh;
            gap: 8rem;

            h2 {
                font-size: 34px;
                color: $color;
            }
            #type-sites {
                display: flex;
                flex-direction: column;
                gap: 6rem;

                #static-site, #dynamic-site {
                    font-size: 24px;
                    display: flex;
                    gap: 1rem;
                }
                #static, #dynamic {
                    margin-top: 3rem;
                }
                #dynamic-icon {
                    margin-left: 1.5rem;
                }
            }
        }
    }
    #websites {
        background-color: $secondary_color;
        width: 100%;
        text-align: center;

        #website-article {
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-template-rows: 20% 20% 20% 20% 20%;
            margin-top: 20vh;
            
            .img-website1 {
                width: 150px;
            }
            #img1_website1 {
                grid-column-start: 2;
                grid-column-end: span;
                border: 1px solid black;
            }
            #img2_website1 {
                grid-column-start: 4;
                grid-row-start: 2;
                border: 1px solid black;
            }
        }
    }
}

@media screen and (min-width: 1050px) {
    .img-website1 {
        width: 200px !important;
    }
}

@media screen and (min-width: 800px) {
    #services {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 480px) {
    #website-article {
        grid-template-columns: 100% !important;
    }
    #img1_website1 {
        grid-column-start: 1 !important;
        grid-row-start: 1 !important;
    }
    #img2_website1 {
        margin-top: 4rem;
        grid-column-start: 1 !important;
        grid-row-start: 3 !important;
    }
}