@media screen and (max-width: 850px){
    .recent_projects {
        width: auto;;
    }
    
    #categories {
        width: auto;
    }
}

@media screen and (max-width: 470px) {
    .project_logo {
        width: 200px;
    }
}