@import "../../globalVariables";

#landpage-articles {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    #welcome {
        background-color: $primary_color;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 100px;
        padding-top: 100px;
        padding-bottom: 100px;
        height: 100vh;

        #occupation {
            font-size: 40px;
            color: $color;
        }
        #careers, #phrase {
            font-size: 24px;
            max-width: 300px;
            text-align: center;
        }
            #phrase {
                color: yellow;
            }
        #contact-btn {
            background-color: $primary_color;
            color: $color;
            padding: 15px;
            width: 200px;
            border: 1px solid white;
            font-size: 20px;
            transition: all .5s;
            border-radius: 10px;
            cursor: pointer;
        }
        #contact-btn:hover {
            background-color: $secondary_color;
            color: $color2;
            transition: all .5s;
        }
    }
    #about-me {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: $secondary_color;
        display: flex;
        flex-direction: column;
        width: 100%;

        #photo {
            max-width: 300px;
            border-radius: 10px;
        }
        #presentation {
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 24px;
            max-width: 300px;
            text-align: center;
            #name {
                color: $color2;
            }
        }
        #promise {
            font-size: 20px;
            max-width: 300px;
            text-align: center;
        }
    }
}

@media screen and (min-width: 800px) {
    #landpage-articles {
        grid-template-columns: 50% 50%;
        height: 100vh;
    }
    #welcome > #careers {
        text-align: center;
    }
    #about-me > #presentation, #promise {
        max-width: 400px !important;
    }
    #about-me > #photo {
        max-width: 400px !important;
    }
}