@import "../../globalVariables";


#landpage {
    display: grid;
    height: 90vh;
    grid-template-columns: 100%;

    #welcome {
        background-color: $primary_color;
        width: 100%;
        color: white;
        text-align: center;
        padding-bottom: 4rem;

        #welcome-text {
            margin-top: 10vh;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            #title {
                color: $color;
                font-size: 40px;
                margin-bottom: 4rem;
            }
            #text {
                font-size: 30px;
                display: flex;
                flex-direction: column;
                gap: 4rem;
            }
            #contact-me {
                padding: 1rem;
                border-radius: 5px;
                background-color: $color;
                color: black;
                font-size: 18px;
                width: 200px;
                margin-top: 6rem;
                transition: all .5s;
                cursor: pointer;
            }
            #contact-me:hover {
                background-color: #79ceff;
                transition: all .5s;
            }
        }

    }
    
    #aboutme {
        background-color: $secondary_color;
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;

        #aboutme-text {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            #photo {
                max-width: 300px;
                border-radius: 5px;
            }
            #text-about {
                font-size: 24px;

                #name {
                    color: $color2;
                }
            }
            #text-about-continuation {
                font-size: 20px;
                max-width: 400px;
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    #landpage {
        grid-template-columns: 50% 50%;
    }
}