@import "../../globalVariables";
@import "navbar";
@import "landpage";

* {
    padding: 0;
    margin: 0 auto;
    font-family: $font_family;
}

main {
    margin-top: 5rem;
    background-color: $secondary_color;
}