@import "../../globalVariables";

#technologie-vercel > img {
    width: 96px;
    height: 96px;
}
#technologies {
    height: 110vh;
    width: 100%;
    background-color: $primary_color;
    color: white;
    padding-top: 50px;

    #title {
        font-size: 32px;
        text-align: center;
        padding-bottom: 50px;
        color: $color;
    }
    #technologies-compilation {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
        height: 100vh;

        .technology {
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: $secondary_color;
            height: fit-content;
            color: $color2;
            font-size: 24px;
            font-weight: bold;
            border-radius: 20px;
            width: 80%;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
}

@media screen and (min-width: 800px) {
    #technologies-compilation {
        grid-template-columns: 25% 25% 25% 25% !important;
        grid-template-rows: 50% 50%;
    }
    #technologies {
        height: 100vh;
        padding-top: 100px;
    }
    #title {
        padding-bottom:  100px;
    }
}